<style>
  .podcast_col iframe{
    margin-top: 50px;
  }
</style>

<div id="header" class="container">
  <div class="row">
    <div class="col-sm-4 logo_col">
      <%= link_to root_path do %>
        <%= image_tag 'logos/header_logo.png', alt: 'Killer Green Radio' %>
      <% end %>
    </div><!-- col -->
    <div class="col-sm-4 podcast_col">
      <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/12792?style=light' width='100%'></iframe>
      <%#= podloveaudio(src: asset_path('Midnight Blues bny Cherlene.mp3'), duration: '03:44', title: 'Midnight Blues') %>
    </div><!-- col -->
    <div class="col-sm-4">

    </div><!-- col -->
  </div><!-- row -->
</div>

<script>
  raiseAndLowerElement('.logo_col img');

</script>

