<div id="header" class="container">
  <div class="row">
    <div class="col-sm-4 logo_col">
      <%= link_to root_path do %>
        <%= image_tag 'logos/radio_flag_small.png', alt: 'Killer Green Radio' %>
      <% end %>
    </div><!-- col -->
    <div class="col-sm-4 podcast_col">

    </div><!-- col -->
    <div class="col-sm-4">

    </div><!-- col -->
  </div><!-- row -->
</div>

<script>
  raiseAndLowerElement('.logo_col img');

</script>

