<div id="on_the_web_widget">
  <h4>On the web</h4>
  <div id="follow_on_facebook_button_container">
    <%= follow_on_facebook_button(FB_APP_PAGE, :layout => 'button') %>&nbsp;&nbsp;Killer Green Radio!
  </div>

  <script>
    <%= follow_on_twitter_button_script %>
  </script>

  <%= recent_tweet_widget %>


</div>