<div id="news_stories">
  <%= quick_options ['New', new_news_story_path] if user_is_admin? %>

  <h1>News Stories</h1>

  <!--<div class="content_block">-->
    <%= render partial: 'list' %>
  <!--</div>-->
</div>

<% content_for :side_bar do %>
  <%= render :partial => 'events/embedded_monthly' %>
<% end %>

<% head_info('News Stories for Killer Green Radio', 'News Stories for Killer Green Radio', standard_image, 'article', 'killergreenradio.com',
             news_stories_url, keywords: standard_keywords) %>
