<div id="dj" class="content_b">
  <h1><%= link_to @dj.name, @dj %></h1>
  <%= @calendar_events.inspect %>
</div>

<% content_for :side_bar do %>
  <%= render :partial => 'events/embedded_monthly' %>
<% end %>