<% head_info('Killer Green Radio', 'Killer Green Radio Home Page', image_url('logos/header_logo.png'),
             'music.radio_station', 'killergreenradio.com', root_url, :facebook_app_id => FB_APP_ID) %>

<% content_for :top_banner do %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= express_carousel [image_path('demo/player_slug.png'), image_path('backgrounds/fm3_background.jpg')] %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :side_bar do %>
  <%= render :partial => 'events/embedded_monthly' %>

  <%#= render :partial => 'devise/sessions/new' %>
<% end %>

