<style>
  #top_nav{
    border-radius-bottomleft: 0px !important;
    border-radius-bottomright: 0px !important;
  }

</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= express_carousel [image_path('demo/player_slug.png'), image_path('backgrounds/fm3_background.jpg')] %>
    </div>
  </div>
</div>


