/*-------------------------------------------
- Imports
- body
- .admin_form
-------------------------------------------*/
//------ Imports ---
@import 'text_blocks';

//------- body ---
body{
  background-color: #0e4e00;
//  background-image: image-url('backgrounds/fm3_background.jpg')
}

//-------- .content_block ----
.content_block {
  background-color: $content_block_color;
  color: rgba(255, 255, 255, .80);
}