/*-----------------------------------------------------
- #like_and_follow_buttons
-----------------------------------------------------*/

//----- #like_and_follow_buttons ------
#like_and_follow_buttons{
  margin-bottom: 15px;
  padding-top: 3px;

  .follow_button{
    float: left;
    padding-left: 10px;
  }

  .follow_on_twitter_button{
    padding-top: 0px;
  }
}