#gallery{
//  background-color: $content_block_color;

  .gallery_image_container{
    padding: 5px;
    display: inline-block;
    margin: 10px;
    //    margin: 10px;

    img{
//      width: 100%;

      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .gallery_image_name{
      background-color: $font_medium;
      color: $font_light;
      font-size: 12px;
      font-weight: 400;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 30px;
      border-top-width: 0px;
      font-family: $font-family-sans-serif;

      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}