/*-------------------------------------------------
- #header
- #top_nav
- The Flash

-------------------------------------------------*/

//------ #header ------
#header{
//  margin-top: 15px;
  margin-bottom: 10px;

  .logo_col{
    img{
      height: 150px;
      position: relative;
    }

    img:hover{
//      position: relative;
//      top: -5px;
    }
  }
}

//------ The Flash ----
.flash {
  padding-top: 5px;
}

div.flash.notice{
  background-color: rgba($alert-warning-bg, .90);
}

div.flash.alert{
  background-color: rgba($alert-danger-bg, .90);
}

//------ #the_flash -----
