/*-------------------------------------------------
- #header
- #top_nav
- The Flash
- #footer

-------------------------------------------------*/

//------ #header ------
#header{
//  margin-top: 15px;
  margin-bottom: 10px;

  .logo_col{
    padding-top: 15px;

    img{
      height: 150px;
      position: relative;

    }

    img:hover{
//      position: relative;
//      top: -5px;
    }
  }
}

//------ The Flash ----
.flash {
  @extend .content_block;
  padding: 5px;
  padding-bottom: 15px;

  font-size: 28px;
  text-align: center;
  color: $bright_accent;
  font-weight: 600;

  .close{
    color: $font_light;
    text-shadow: 1px 1px $font_medium;
  }
}



//------ #the_flash -----

//----- #footer ------
#footer{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
//  border-top: 1px solid $font_light;
  background-color: $content_block_color;

  box-shadow: 0px -5px 3px 0px $font_dark;

  .container{
  }

  .footer_cell{
    color: $font_light;
  }
}