/*------------------------------------------------------
- #on_the_web_widget
- .facebook_comments
- #djs_attending (on events#show)
------------------------------------------------------*/

//--------- #on_the_web_widget
#on_the_web_widget{
  margin-top: 10px;

  #follow_on_facebook_button_container{
    color: $font_light;
    font-size: 16px;
    font-weight: 400;
    background-color: $content_block_color;
    border: 2px solid $font-light;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

//--------------- .facebook_comments ---
.facebook_comments{
  border-radius: 10px;
  border: 10px solid $content_block_color;
  margin-top: 20px;
  background-color: $font_medium_light;
}

//--------------- #djs_attending -----
ul#djs_attending{
  list-style: none;
  padding: 0px;

  li{
    margin-bottom: 15px;
    font-size: 22px;

    img{
      margin-right: 15px;
    }
  }
}