@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

.banner_ad{
  .slug{
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    background-color: black;
    color: green;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 10px;
    margin-bottom: 10px;

  }
 }
