<div class="container">
  <%= quick_options(['Add Image', new_gallery_image_path(@gallery)], ajax: true) if user_is_admin?  %>
  <h1><%= @gallery.name %></h1>

  <div id="gallery">
    <% @gallery.gallery_images.order(:updated_at => :desc).each do |i| -%>
      <%= render partial: 'gallery_images/show', :locals => {:i => i} %>
    <% end -%> <!-- loop -->
  </div><!-- #gallery -->
</div><!-- cont -->

<script>
//  $(document).ready(function(){
  $(window).load(function(){
    $('.gallery_image_link').touchTouch();

    galleryNameHoverHighlight();
    galleryNameWidthNormalize();
  })

</script>