<div id="share_on_social_networking">
  <span class="tweet_button">
    <%= tweet_button TWITTER_FANPAGE, :count => 'none' %>
  </span>
  <span class="facebook_button">
    <%= like_on_facebook_button :layout => 'button' %>
  </span>
</div>